header{
    padding-top: 150px;
    
    img {
        width: 800px;
        border-radius: 20px;
    }
    h1{
        color: $main-color;
        font: {
            size:70px;
            family: 'PT Sans', sans-serif;
            }
}
p{
    text-align: center;
    padding: 30px;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
